@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
/* Simple browser reset */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
   background: #FFFFFF;
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

nav {
  background-color: blue;
  color: blue;
}

.page_content {
  padding-top: 30px;
}

.user_detail_content {
  width: 40%;
}

.submit-button {
  width: 100%;
}

.user_detail_text {
  text-align: center;
}